.generic-content-container {
    p {
        line-height:1.65;
        margin:1.8rem 0;
        @mixin atSm {
            font-size:1.135rem;
        }
    }
    p a {
        font-wieght:700;
    }
}