.headline {
    font-weight:300;
    font-size:1.9rem;
    color:$mainblue;
    @mixin atSm{
        font-size:2.875rem;
    }
    &--center {
        text-align:center;
    }
    &--orange {
        color: $mainorange;
    }
    &--small {
        font-size:1.2rem;
        @mixin atSm {
            font-size:1.875rem;

        }
    }
    &--no-t {
        margin-top:0;
    }
    &--narrow {
        max-width:500px;
        margin-left:auto;
        margin-right:auto;
    }
    &--light {
        font-weight:100;
    }
    &--b-margin-sm {
        margin-bottom:.5em;
    }
    &--b-margin-l {
        margin-bottom:1.6em;
    }
}