.row {
    &__b-margin-until-medium {
        margin-bottom:1rem;  
    }
    &--t-padding {
        padding-top:80px;
    }
    @mixin atMd {
        display:grid;
        grid-template-columns:repeat(12,1fr);
            &--gutters {
                column-gap:5.3%;
            }
            &--gutters-large {
                column-gap:8%;
            }
            &--gutters-small {
                column-gap:3.6%;
            }
            &__b-margin-until-medium {
                margin-bottom:0;       
            }
            &__medium-4 {
                grid-column:span 4;
            }
            &__medium-8{
                grid-column:span 8;
            }
            &__medium-6 {
                grid-column:span 6;
            }
    }
    @mixin atLg {
        &__b-lg-until-medium {
            margin-bottom:0;       
        }
        &__lg-4{
            grid-column:span 4;
        }
        &__lg-8{
            grid-column:span 8;
        }
        &__lg-6 {
            grid-column:span 6;
        }

    }
    /* BEGIN EQUAL HEIGHT RULES */
    &--equal-height-at-md {
        @mixin atMd {
            & > div {
                display:flex;
            }
        }
    }
    &--equal-height-at-lg {
        @mixin atLg {
            & > div {
                display:flex;
            }
        }
        
    }
}